<div class="contain-to-grid sticky" data-options="sticky_on: large">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Small Biz Tutorial</a></h1>
      </li>
      <section class="top-bar-section">
      <ul class="right">
        <li><a href ='#'>About Me</a></li>
        <li><a href ='/messages/new'>Contact</a></li>
      </ul>
      </section>
    </ul>
  </nav>
</div>

