<h1>Accounting</h1>

<%= link_to 'Banking', banking_path %>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1"><h4>FreshBooks</h4></a>
    <div id="panel1" class="content">
FreshBooks is a cloud accounting application which started as a tool for
managing invoicing, collections, and revenue tracking for small
businesses. Include time tracking, expense management, bank imports and integration
with the BaseCamp Classic project management tools.

Users with no financial background can create, distribute, and collect
invoices using this tool with almost no training. Invoices are based on
customizable templates, and users can add details about their business
as well as a logo to give the invoices a very professional look. User
menus are not customizable, and a dashboard showing a fixed set of key
performance indicators is shown in a screen called “the Account
Overview.”
      <ol>
        <li>
          Invoice like a pro
        </li>
        <li>
          Track Invoice Views
        </li>
        <li>
          Easily Track Expenses
        </li>
        <li>
          Track time on the go
        </li>
      </ol>

      <b>Visit <a
href='https://moonbrothers.freshbooks.com/refer/www'>FreshBooks</a> to learn more</b>
    </div>
  </dd>

  <dd>
    <a href="#panel2"><h4>Intuit QuickBooks</h4></a>
    <div id="panel2" class="content">
One of the major advantages to using software created by a large company
like Intuit is that it has the research-and-development resources to
continually evolve the software based on technological advances as well
as customer demand – making QuickBooks 2014 simple to use even by those
who know little about formal accounting methodologies. Plus, accountants
are accustomed to working with QuickBooks files, which makes it easy for
them to assist with your business taxes.
      <ol>
        <li>
          Payroll
        </li>
        <li>
          Auto sync with bank account
        </li>
        <li>
          Recurring invoicing
        </li>
        <li>
          Mobile friendly
        </li>
      </ol>
      <b>Visit <a href='http://quickbooks.intuit.com/'>Intuit QuickBook</a> to learn more</b>
    </div>
  </dd>
</dl>
