<h1>Banking</h1>

<dl class="accordion" data-accordion>
 <dd>
    <a href="#panel1"><h4>Small Businss Bank</h4></a>
    <div id="panel1" class="content">
The bank has no fees. No monthly fees, no minimum balances, ATM withdrawals are free,
free bill pay, and even free ACH

<b>Visit <a href='https://www.smallbusinessbank.com/'>Small Business
Bank</a> to learn
more</b>
    </div>
  </dd>

  <dd>
    <a href="#panel2"><h4>Bank Of America</h4></a>
    <div id="panel2" class="content">
 Free payroll through intuit and also free Direct Connect to the bank
with Quickbooks. Many ways to avoid paying fees (e.g. making a deposit
once a month, using your small business credit or debit card once a
month, etc).

      <b>Visit <a
href='https://www.bankofamerica.com/smallbusiness/'>Bank of America</a> to learn more</b>
    </div>
  </dd>
</dl>
