  <ul class="small-block-grid-3">
    <li>
      <h3><a href="/ecommerce"><strong>Ecommerce</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>

    <li>
      <h3><a href="/marketing"><strong>Marketing</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>

    <li>
      <h3><a href="/accounting"><strong>Accounting</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>
  </ul>

  <ul class="small-block-grid-3">
    <li>
      <h3><a href="/outsourcing"><strong>Outsourcing</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>

    <li>
      <h3><a href="/web_development"><strong>Web Development</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>

    <li>
      <h3><a href="/sales"><strong>Sales</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>
  </ul>

  <ul class="small-block-grid-3">
    <li>
      <h3><a href=""><strong>Networking</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>

    <li>
      <h3><a href=""><strong>Additional Resources</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>

    <li>
      <h3><a href="/organization"><strong>Organization</strong>
      <img class="th" src="https://s3.amazonaws.com/mvp_consulting/images/flower4u_wedding-21.jpg">
    </li></a></h3>
  </ul>
