<h1>Marketing</h1>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1"><h4>Sprout Social</h4></a>
    <div id="panel1" class="content">
      Reason why we love Shopify is that it is super easy to get
started. Anyone can customize and build ecommerce sites with no product
limit. It is geared to those looking to start or currently runs a small
businesses. Although it is extremely easy to setup with a large
selection of options, it is not very customizable in the long run.
However, I found that it fills many small ecommerce needs.

    <p>Sign up for a free 30 day trial of <a href="http://www.dpbolvw.net/click-7496543-10872391"
target="_top">Sprout Social</a></p>
    </div>
  </dd>

  <dd>
    <a href="#panel2"><h4>Hootsuite</h4></a>
    <div id="panel2" class="content">
      Reason why we love Shopify is that it is super easy to get
started. Anyone can customize and build ecommerce sites with no product
limit. It is geared to those looking to start or currently runs a small
businesses. Although it is extremely easy to setup with a large
selection of options, it is not very customizable in the long run.
However, I found that it fills many small ecommerce needs.

<b>Visit <a href='http://www.shareasale.com/r.cfm?b=363437&u=934270&m=37818&urllink=&afftrack='>Hootsuite</a>
   to learn more</b>
    </div>
  </dd>
</dl>
