<h1>Organization</h1>

<dl class="accordion" data-accordion>
 <dd>
    <a href="#panel1"><h4>Dropbox</h4></a>
    <div id="panel1" class="content">
      Reason why we love Shopify is that it is super easy to get
started. Anyone can customize and build ecommerce sites with no product
limit. It is geared to those looking to start or currently runs a small
businesses. Although it is extremely easy to setup with a large
selection of options, it is not very customizable in the long run.
However, I found that it fills many small ecommerce needs.

<b>Visit <a
href='https://db.tt/L79XKXIS'>Dropbox</a> to learn 
more</b>
    </div>
  </dd>

  <dd>
    <a href="#panel2"><h4>EVERNOTE</h4></a>
    <div id="panel2" class="content">

<b>Visit <a

href='https://www.evernote.com/referral/Registration.action?uid=50530114&sig=6f124b25b0c1736bc0ad21fa4c7a6bf4'>EVERNOTE</a> to learn
more</b>
    </div>
  </dd>

  <dd>
    <a href="#panel3"><h4>SmartSheet</h4></a>
    <div id="panel3" class="content">
      It’s an Excel/Google Doc-like online app that generates spreadsheets
      that are more dynamic than just rows & columns. In addition to
      spreadsheets, there’s quite a bit of Microsoft Project thrown in (it can
      even import Project files). The interface is very simple to learn and
      use, which makes it ideal for sharing with clients of all technical
      backgrounds. You need a paid account to create sheets after the free
      trial expires. But those sheets can be shared with anyone, either
      through a named user or through a publish link that anyone can view if
      they know it.
<b>Visit <a href='http://www.smartsheet.com/blog/mark-mader/why-people-choose-smartsheet-over-google-docs'>SmartSheet</a> to learn
more. Refer 'johnmoonyy (at) gmail (dot) com'</b>
    </div>
  </dd>
</dl>
