<h1>Sales</h1>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1"><h4>Yesware</h4></a>
    <div id="panel1" class="content">
      Yesware provides email analytics, customizable templates and CRM
      integration to help salespeople close more deals faster.
      It helps salespeople work more effectively, right from their inbox.
      <ol>
        <li>
            See who opens your emails and clicks on your links
        </li>
        <li>
          Set email reminders to follow up on important mess
        </li>
        <li>
          Automatically sync your emails to Salesforce.
        </li>
      </ol>

      <b>Visit <a href='http://www.yesware.com/'>Yesware</a> to learn more</b>
    </div>
  </dd>

  <dd>
    <a href="#panel2"><h4>Salesforce</h4></a>
    <div id="panel2" class="content">
      Salesforce is a Customer Relationship Management. At its simplest,
a CRM system allows businesses to manage business relationships and the
data and information associated with them. With CRM, you can store
customer and prospect contact information, accounts, leads and sales
opportunities in one central location, ideally in the cloud so the
information is accessible by many, in real time.
      <ol>
        <li>It's Mobile and realtime</li>
        <li>It's scalable. Add feature as you need them</li>
        <li>It's collaborative. Employees can work together to increase
activity and stay on task</li>
        <li>It's social. Compatible with most popular social networks to
sell to followers and have a bigger reach.</li>
      </ol>

      <b>Visit <a href='http://www.salesforce.com/'>Salesforce</a> to learn more</b>
    </div>
  </dd>
</dl>
