<h1>Web Development</h1>

<dl class="accordion" data-accordion>
 <dd>
    <a href="#panel2"><h4>Shopify</h4></a>
    <div id="panel2" class="content">
      Reason why we love Shopify is that it is super easy to get
started. Anyone can customize and build ecommerce sites with no product
limit. It is geared to those looking to start or currently runs a small
businesses. Although it is extremely easy to setup with a large
selection of options, it is not very customizable in the long run.
However, I found that it fills many small ecommerce needs.

<b>Visit <a
href='http://www.shopify.com/?ref=smallbiztutorial'>Shopify</a> to learn
more</b>
    </div>
  </dd>
</dl>
